<nav aria-label="...">
  <ul class="pagination">
      {%if page.has_previous%}
    <li class="page-item"><a class="page-link" href="?page={{page.previous_page_number}}">Previous</a></li>
      {% endif%}
  <P class="page-link"> {{page.number}} / {{page.paginator.num_pages}}</P>

{#   <li class="page-item"><a class="page-link" href="#">1</a></li>#}
{#  <li class="page-item"><a class="page-link" href="#">2</a></li>#}

{#    <li class="page-item"><a class="page-link" href="#">3</a></li>#}
  {%if page.has_next%}
    <li class="page-item"><a class="page-link" href="?page={{page.next_page_number}}">Next-Page</a></li>
  {% endif%}
  </ul>
</nav>


{#<div class="peginator">#}
{##}
{#		<span>#}
{#			{%if page.has_previous%}#}
{#				<a href="?page={{page.previous_page_number}}" class="btn btn-light">Previous</a>#}
{#			{% endif%}#}
{#		</span>#}
{#		<span class="current">#}
{#			<P class="btn btn-dark">page {{page.number}} / {{page.paginator.num_pages}}</P>#}
{#		</span>#}
{#		<span>#}
{#			{%if page.has_next%}#}
{#				<a href="?page={{page.next_page_number}}" class="btn btn-light">Next</a>#}
{#			{%endif%}#}
{#		</span>#}
{##}
{#</div>#}
